header#main_header {
  box-shadow: 0 0 20px #0001;
  background-color: var(--main-color);
  transition: top 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;

  z-index: 1;
}
header#main_header.hidden {
  top: -85px;
}

header#main_header > div.container {
  width: var(--website-width);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header#main_header h1 {
  text-wrap: nowrap;
  letter-spacing: 5px;
  font-size: 2em;
}
header#main_header a {
  text-decoration: none;
}
header#main_header nav {
  display: flex;
  align-items: center;
  font-size: 1.1em;
}
header#main_header nav > ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
header#main_header nav a {
  color: var(--text-color);
}
header#main_header nav a:hover {
  color: var(--accent-text-color);
}
ul#menu-list {
  transition: 1s;
}

@media only screen and (max-width: 650px) {

  header#main_header h1 {
    letter-spacing: 3px;
  }

  div#menu-icon {
    width: 35px;
    height: 26px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }

  div#menu-icon > div.menu-icon-line {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: 
      width 0.3s,
      transform .3s;
    background-color: var(--text-color);
  }
  div#menu-icon > div.menu-icon-line:first-child,
  div#menu-icon > div.menu-icon-line:last-child {
    animation-delay: 0.2s;
  }
  
  div#menu-icon:hover > div.menu-icon-line {
    width: 90%;
  }
  div#menu-icon:hover > div.menu-icon-line:first-child,
  div#menu-icon:hover > div.menu-icon-line:last-child {
    width: 70%;
  }

  ul#menu-list.shown + div#menu-icon > div.menu-icon-line:nth-child(2n) {
    width: 0;
  }
  ul#menu-list.shown + div#menu-icon > div.menu-icon-line:first-child {
    transform: 
      translateY(11px)
      rotate(45deg);
  }
  ul#menu-list.shown + div#menu-icon > div.menu-icon-line:last-child {
    transform: 
      translateY(-11px)
      rotate(-45deg);
  }

  div#menu-icon > div.menu-icon-line {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
  }

  ul#menu-list {
    display: none !important;
  }
  ul#menu-list.shown {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: animation-1 .1s linear backwards;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 1;
  }
  ul#menu-list.shown > li {
    width: var(--website-width);
    text-align: center;
    font-size: 1.2em;
  }
  ul#menu-list.shown > li > a {
    animation: animation-1 .1s linear backwards;    
  }
  
}

@keyframes animation-1 {
  from {
    color: transparent;
    background-color: transparent;
  }
}