main#exercise {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px; 
  width: /* var(--website-width) */ min(1320px, 90vw);
}

img#map {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#exercise-aside-panel {
  width: 250px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

input[type="button"] {
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: var(--bg-color);
  color: #333;
  font-size: .8em;
  letter-spacing: 1px;
  transition: .1s;
  outline: none;
}
input[type="button"]:hover,
input[type="button"]:focus {
  background-color: #c4ddfe;
  box-shadow: 0 0 10px #0002;
  color: var(--text-color);
  cursor: pointer;
}

div#stats {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.fetching-data {
  cursor: wait;
}
