@font-face {
  font-family: Font1;
  src: url(../font/TitilliumWeb-ExtraLight.ttf);
}
:root {
  --website-width: min(1000px, 90vw);
  --text-color: #000;
  --accent-text-color: #011033;
  --bg-color: #d1e5ff;
  --main-color: aliceblue;

  font-family: Font1;
  font-size: 18px;
  color: var(--text-color);
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding-top: 125px;
  padding-bottom: 81px;

  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--accent-text-color);
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
}
a {
  color: var(--accent-text-color)
}

.panel {
  text-decoration: none;
  box-shadow: 0 0 20px #0001;
  color: var(--text-color);
  background-color: var(--main-color);
  border-radius: 15px;
  padding: 20px;
}

section.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: var(--website-width);
}
section.cards > .panel {
  flex: 1 1 280px;
}
section.cards article {
  display: flex;
  flex-direction: column;
  gap: 10px
}
section.cards article > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: groove 1px var(--text-color);
}
section.cards article > header > img.icon {
  width: 75px;
}
section.cards article > header > h2 {
  font-size: 1.5em;
}
section.cards article > p {
  text-align: justify;
}
section.cards article h2,
section.cards article h3 {
  text-align: center;
}

section#about-us article .links {
  display: flex;
  justify-content: space-around;
}

section#discord_info {
  width: var(--website-width);
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  box-shadow: 0 0 20px #0001;
  background-color: var(--main-color);
  padding: 10px 0;

  text-wrap: nowrap;
  text-align: center;
  font-size: 14px;
}
footer > div.container {
  display: flex;
  justify-content: space-between;

  width: var(--website-width);
}