section#exercise {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: var(--website-width);
  max-width: 600px;
}
section#discord_info{
  max-width: 600px;
}
section#exercise h2,
section#exercise h3 {
  text-align: center;
}
section#exercise p#question {
  text-align: center;
}
section#exercise p#question strong {
  font-size: 1.2em;
}
section#exercise input[type="text"] {
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
}
section#exercise div#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
section#exercise div#buttons > input[type="button"] {
  flex: 1 1 140px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #d1e5ff;
  color: #333;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section#exercise div#result {
  min-height: 60px;
  text-align: center;
}
section#exercise div#options {
  margin: 0 auto;
}
section#exercise div#options h3,
section#exercise div#options label {
  text-align: center;
}